<% @title = "Log in" %>
<%= turbo_stream.replace "flash_wrapper" do %>
  <%= render "shared/flash" %>
<% end %>

<%= turbo_stream.replace "session_form" do %>
  <%= form_with url: sessions_path, method: :post, id: "session_form" do |f| %>
    <h2><%= t ".log_in" %></h2>

    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit t(".log_in") %>
  <% end %>
<% end %>
