<aside>
  <%= image_tag "avatar.png", alt: "T S Vallender", width: 200, height: 200, class: "avatar" %>
</aside>
<section class="content">
  <% @title = @user.username %>
  <h2><%= @user.username %></h2>
  <h4><%= @user.full_name %></h4>

  <% if @user == current_user %>
    <%= link_to t(".edit_user_details"), edit_user_path(@user) %>

    <h2>Draft blog posts</h2>
    <%= render @user.blog_posts.draft %>
  <% end %>
</section>
