<section class="content">
  <h2>Hello.</h2>

  <p>Welcome to my site! I’m a software engineer specialising in Ruby and Rails, with a love for *nix systems,
  NixOS and free software in general. I’m also a maker and dad, and here is where my thoughts get dumped.</p>

  <p>The code for my personal projects <%= link_to "can be found here", "https://git.tsvallender.co.uk/tsv" %></p>
</section>

<aside>
  <%= image_tag "avatar.png", alt: "T S Vallender", width: 200, height: 200, class: "avatar" %>

<aside class="bordered-aside">
  <h3>Find me:</h3>
  <dl>
    <dt>Mastodon</dt>
    <dd><%= link_to "@tsvallender@ruby.social", "https://ruby.social/@tsvallender" %></dd>
    <dt>Pixelfed</dt>
    <dd><%= link_to "@tsvallender@pixelfed.sdf.org", "https://pixelfed.sdf.org/tsvallender" %></dd>
    <dt>Email</dt>
    <dd><%= mail_to "t@tsvallender.co.uk" %></dd>
  </dl>
</aside>
