<%= form_with model: @diary_entry, id: "diary_entry_form" do |f| %>
  <h2><%= title %></h2>

  <%= f.label :date %>
  <%= f.date_field :date %>

  <%= f.label :pain_level %>
  <%= f.number_field :pain_level %>

  <%= f.label :energy_level %>
  <%= f.number_field :energy_level %>

  <%= f.label :mental_alertness_level %>
  <%= f.number_field :mental_alertness_level %>

  <%= f.label :work_stress_level %>
  <%= f.number_field :work_stress_level %>

  <%= f.label :life_stress_level %>
  <%= f.number_field :life_stress_level %>

  <%= f.label :sleep_quality_level %>
  <%= f.number_field :sleep_quality_level %>

  <%= f.label :weight %>
  <%= f.number_field :weight %>

  <%= f.label :notes %>
  <%= f.text_area :notes %>

  <%= f.submit button_text %>
<% end %>
