<table>
  <thead>
    <tr>
      <th><%= t(".pain_level") %></th>
      <th><%= t(".energy_level") %></th>
      <th><%= t(".mental_alertness_level") %></th>
      <th><%= t(".work_stress_level") %></th>
      <th><%= t(".life_stress_level") %></th>
      <th><%= t(".sleep_quality_level") %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= diary_entry.pain_level %></td>
      <td><%= diary_entry.energy_level %></td>
      <td><%= diary_entry.mental_alertness_level %></td>
      <td><%= diary_entry.work_stress_level %></td>
      <td><%= diary_entry.life_stress_level %></td>
      <td><%= diary_entry.sleep_quality_level %></td>
    </tr>
  </tbody>
</table>
