<%= form_with model: @micropost, id: "micropost_form" do |f| %>
  <h2><%= title %></h2>

  <%= f.rich_text_area :content %>

  <%= text_field_tag :tags, tag_string(@micropost) %>

  <%= f.submit button_text %>
<% end %>
