<h2><%= t(".microposts") %></h2>

<%= link_to t(".new"), new_micropost_path if logged_in? %>

<%= t(".intro_html") %>

<% if @microposts.empty? %>
  <p><%= t(".empty") %></p>
<% else %>
  <ul id="microposts">
    <% @microposts.each do |micropost| %>
      <li><%= render micropost %></li>
    <% end %>
  </ul>
  <%= paginate @microposts %>
<% end %>
