<%= form_with model: @learning_goal, id: "learning_goal_form" do |f| %>
  <h2><%= title %></h2>

  <%= f.text_field :title, placeholder: t(".title") %>

  <%= f.rich_text_area :description %>

  <%= f.label :starts_on %>
  <%= f.date_field :starts_on %>

  <%= f.label :ends_on %>
  <%= f.date_field :ends_on %>

  <%= f.rich_text_area :retrospective %>

  <%= f.label :completed %>
  <%= f.check_box :completed %>

  <%= f.submit button_text %>
<% end %>


