<div id="learning_goal_<%= @learning_goal.id %>" class="learning_goal">
  <%= link_to t(".edit"), edit_learning_goal_path(@learning_goal) if @learning_goal.user == current_user %>
  <h2><%= @learning_goal.title %></h2>
  <p><%= @learning_goal.starts_on %>-<%= @learning_goal.ends_on %></p>
  <h3><%= t(".description") %></h3>
  <p><%= @learning_goal.description %></p>
  <% if @learning_goal.completed? %>
    <h3><%= t(".retrospective") %></h3>
    <p><%= @learning_goal.retrospective %></p>
  <% end %>

  <h3><%= t(".todos") %></h3>
  <ul>
    <% @learning_goal.todos.each do |todo| %>
      <li><%= render todo %></li>
    <% end %>
  </ul>

  <h3><%= t(".tags") %></h3>
  <ul>
    <% @learning_goal.tags.each do |tag| %>
      <li><%= link_to tag.name, tag %></li>
    <% end %>
  </ul>

  <h3><%= t(".related_microposts") %></h3>
  <p><%= render @learning_goal.microposts %></p>
</div>
