<!DOCTYPE html>
<html>
  <head>
    <title>SummonPlayer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <h1>Summon Player</h1>
      <nav>
        <ul>
          <li><%= link_to t("home"), root_path %></li>
          <% if logged_in? %>
            <li><%= link_to t("profile"), user_path(current_user) %></li>
            <li><%= link_to t("log_out"), log_out_path, data: { turbo_method: :delete } %></li>
          <% else %>
            <li><%= link_to t("log_in"), new_session_path %></li>
            <li><%= link_to t("register"), new_user_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <main>
      <% flash.each do |type, message| %>
        <div class="flash <%= type %>">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
